{
  "openapi": "3.1.0",
  "info": {
    "title": "VerisecID KYC API",
    "description": "Hosted KYC sessions to verify users via a secure, managed flow.",
    "version": "1.0.0"
  },
  "servers": [
    { "url": "https://api.verisecid.com" }
  ],
  "security": [{ "bearerAuth": [] }],
  "paths": {
    "/api/v1/kyc/sessions": {
      "post": {
        "summary": "Create hosted KYC session",
        "description": "Creates a session and returns a verificationUrl to direct users to the hosted verification flow.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "redirectUrl": { "type": "string", "format": "uri" },
                  "metadata": { "type": "object", "additionalProperties": true }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Session created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Session" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/api/v1/kyc/sessions/{sessionId}": {
      "get": {
        "summary": "Get hosted KYC session",
        "description": "Returns a session by ID when owned by the requesting user or their workspace.",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Session details",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Session" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": { "type": "http", "scheme": "bearer" }
    },
    "schemas": {
      "Session": {
        "type": "object",
        "properties": {
          "sessionId": { "type": "string" },
          "verificationUrl": { "type": "string", "format": "uri" },
          "workspaceId": { "type": "string" },
          "userId": { "type": "string" },
          "status": { "type": "string", "enum": ["not_started", "processing", "completed", "failed"] },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" },
          "redirectUrl": { "type": ["string", "null"], "format": "uri" },
          "metadata": { "type": ["object", "null"], "additionalProperties": true }
        },
        "required": ["sessionId", "verificationUrl", "workspaceId", "userId", "status", "createdAt"]
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": { "type": ["string", "integer"] },
          "message": { "type": "string" }
        },
        "required": ["error"]
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Missing or invalid authentication",
        "content": {
          "application/json": { "schema": { "$ref": "#/components/schemas/Error" } }
        }
      },
      "Forbidden": {
        "description": "Authenticated but not allowed to access this resource",
        "content": {
          "application/json": { "schema": { "$ref": "#/components/schemas/Error" } }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": { "schema": { "$ref": "#/components/schemas/Error" } }
        }
      },
      "InternalError": {
        "description": "Internal server error",
        "content": {
          "application/json": { "schema": { "$ref": "#/components/schemas/Error" } }
        }
      }
    }
  }
}